<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="logo" class="db w4 center mb4 br0">
			
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Navigace</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Úvod</a></li>
					<li><a href="/post" class="link">Články</a></li>
					<li><a href="/contact" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Další linky</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
